@font-face {
    font-family: "circular";
    src: url("./Fuentes/circular-pro-bold.woff2") format ('woff2');
}
@font-face {
    font-family: "circular2";
    src: url("./Fuentes/circular-pro-book.woff2") format ('woff2');
}
