.firstpage {   
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align:center;
    background-color: $firstPageColor;
    padding-top: 80px;
}

.firstpage__title{
    font-family: 'circle';
    display: flex;
    font-weight: 700;
    line-height: 1.0625;
    letter-spacing: -1.5px;
    font-size: 2.8rem;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-bottom: 13px;
}

.firspage__title--yellow {
    color:yellow;

}

.firspage__text {
    color:rgb(255, 255, 255);
    display: flex;
    line-height: 1.444;
    letter-spacing: -0.2px;
    padding: 0,2rem;
    margin: 0 1rem;
    font-size: 20px;
    margin-bottom: 40px;
}

.firstpage__button{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}
.firstpage__button--register {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    /*line-height: 1.2857;*/
    letter-spacing: .8px;
    font-size: .875rem;
    padding: 19px 40px 20px;
    display: block;
    width: 100%;
    background-color: white;
    color: $firstPageColor;
    margin: 0 0 7px 0;
}
.firstpage__button--google {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    /*line-height: 1.2857;*/
    letter-spacing: .8px;
    font-size: .875rem;
    padding: 19px 40px 20px;
    display: block;
    width: 100%;
    background-color: #4285f4;
    color: white;
}

.firstpage__button--mingoogle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    width: 40px;
    background-color: white;
    bottom: 48px;
    left: 10px;
    border: none;
    border-radius: 4px;
}


.secondpage {
    background-color: $secondPageColor;
    /*display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align:center;
    padding: 3rem 8vw 3rem 8vw;*/
 
}

.secondpage__rules {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   /* width: 100%; */
    text-align:center;
    padding: 3rem 8vw 3rem 8vw;

}

/*.secondpage__title {

}*/

.secondpage__sponsors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    
    img {
        margin: 8px;
        max-height: 150px;
    }
}

.secondpage__image {
    display:flex;
    justify-content: flex-start;
    padding: none;
    
}

.secondpage__title {
    h2{
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
}

.secondpage__text {
    display:flex;
    justify-content: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
            h1{
                font-size: 30px;
                font-family: Slack-Circular-Pro;
                padding: 20px 0 15px 0;
                  }
                  p{ 
                    font-size: 20px;
                    text-align: left;
                    padding-bottom: 15px;
                   /* font-weight: 700; */
                    
                  }
                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: $hiperTextColor;
                    padding-bottom: 50px;
                  }
}

.secondpage__image2{
    display:flex;
    justify-content: flex-end;
    padding: none;
}

.secondpage__text2 {
    display:flex;
    justify-content: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
    text-align: left;
    font-size: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
            h1{
                font-size: 30px;
                font-family: Slack-Circular-Pro;
                padding: 20px 0 15px 0;
                  }
                  p{ 
                    font-size: 20px;
                    text-align: left;
                    padding-bottom: 15px;
                   /* font-weight: 700; */
                    
                  }
                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: $hiperTextColor;
                    padding-bottom: 50px;
                  }
            }


.secondpage__image3{
    display:flex;
    justify-content: flex-start;
    padding: none;

 }

 .secondpage__text3 {
    display:flex;
    justify-content: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
    text-align: left;
            h1{
                font-size: 30px;
                font-family: Slack-Circular-Pro;
                padding: 20px 0 15px 0;
                  }
                  p{ 
                    font-size: 20px;
                    text-align: left;
                    padding-bottom: 15px;
                   /* font-weight: 700; */
                    
                  }
                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: $hiperTextColor;
                    padding-bottom: 50px;
                  }
            }

/*.firtspage__button--mingoogle-icon {
    
    height: 30px;
    width: 50%;

}
   /* position: relative;
background-color: white;
bottom: 48px;
left: 10px; */


.thirdpage__rules {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   /* width: 100%; */
    text-align:center;
    padding: 3rem 8vw 3rem 8vw;

}

.thirdpage__text {
    display:flex;
    justify-content: center;
    margin-left: 15px;
    flex-wrap: wrap;
    text-align: center;
            h1{
                font-size: 35px;
                font-family: Slack-Circular-Pro;
                padding: 20px 0 15px 0;
                
                  }
            p{ 
                font-size: 20px;
                text-align: left;
                padding-bottom: 15px;
                text-align: center;
                   /* font-weight: 700; */
                    
                  }
                
            }
            .thirdpage__button{
                display:flex;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
            }
            .thirdpage__button--know {
                font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
                border: none;
                border-radius: 4px;
                text-align: center;
                font-weight: 700;
                letter-spacing: .8px;
                font-size: .875rem;
                padding: 19px 40px 20px;
                display: block;
                width: 100%;
                background-color: $firstPageColor;
                color: white;
                margin: 0 0 7px 0;
            }
            .thirdpage__button--talk {
                font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
                border-width: thin;
                text-align: center;
                font-weight: 700;
                letter-spacing: .8px;
                font-size: .875rem;
                padding: 19px 27px 20px;
                display: block;
                width: 100%;
                background-color: white;
                color: $firstPageColor;
            }

            .thirdpage__percentage {
                display:flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;

            }

            .thirdpage__percentage--block {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 1rem 0;


                h2{
                    font-size: 4rem;
                    color: $firstPageColor
                }
                p{
                    font-size: 15px;
                    max-width: 52%;
                    padding-bottom: 20px; 
                }
            }
            .coso {
                padding-bottom: 30px;
                border-top-right-radius: 500px;
                border-bottom-right-radius: 500px;
                width:100%;
            }

            

            .thirdpage__video{
                    border-radius: 10px; 
                    max-width: 95%;               
                    border-radius:0px 180px 180px 0px;
                   
            }

            /*.thirdpage__image{
            display:flex;
            justify-content: flex-start;
            padding: none;
            border-radius: 100%;
            -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
            -webkit-transform: rotate(0.000001deg); 
            -webkit-border-radius: 100%; 
            -moz-border-radius: 100%;
            } */

            .thirdpage__parraf{
                display:flex;
                justify-content: right;
                flex-direction: column;
                margin-left: 25px; 
                margin-bottom: 75px;

               /* &__parraf1{
                   
                    font-size: 22px;
                    font-weight: thin;
                    font-style: italic;
                    padding-bottom: 10px;                   
                }

                &__parraf2{
                 
                    font-weight: bold;                    
                }*/

                a {
                    text-decoration: none;
                    color:#1264a3;
                    font-size: 19px;
                    font-weight: bold;
                }
            }

            .thirdpage__parraf1 {
                font-size: 22px;
                font-weight: thin;
                font-style: italic;
                padding-bottom: 20px; 
            }

            .thirdpage__parraf2 {
                font-weight: bolder;
                font-size: 16px; 
                padding-top: 20px;

                .span {
                    font-weight: none;
                    
                }
            }

            .thirdpage__parraf3{
                padding-top: 20px;
            }

            .thirdpage__aclaration{
                margin-top: 75px;
                margin-right: 0.5rem;
                padding-left: 20px;
                padding-bottom: 25px;
            }
            .thirdpage__aclaration-p {
                margin-top: 30px;
                font-weight: 400;
                line-height: 1.2857;
                letter-spacing: normal;
                font-size: .875rem;
                margin-bottom: 1rem;
                color: #696969;
            }

            /* Aqui empieza la Cuarta pagina */

            .fourpage {
                background-color: $secondPageColor;
            }
            .fourpage__rules {
                display:flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
               /* width: 100%; */
                text-align:center;
                padding: 3rem 8vw 3rem 8vw;
            }
                
            .fourpage__title{
                
                padding-bottom: 20px;
                h2 {
                    font-size: 22px;
                    font-weight: bold;
                }
            }

            .fourpage__card {
                display:flex;
                justify-content: center;
                flex-direction: column;
                background-color: white;
                max-width: 90%;
                
            }

            .fourpage__car-img{
                padding: 15px;
            }

            .fourpage__card-text {
                display:flex;
                justify-content: flex-start;
                flex-direction: column;
                text-align: left;
               
            }

            .fourpage__card-text-1 {
                    padding-bottom: 10px;
                    padding-left: 15px;
                    color: grey;
                }

            .fourpage__card-text-2{
                    font-size: 25px;
                    padding-left: 15px;
                    font-weight: bold;
                    padding-bottom: 40px;
        
                }
            .fourpage__card-function{

                p{
                    color:#1264a3;
                    font-size: 15px;
                    font-weight: bold;
                    padding-bottom: 5px;
                    text-align: left;
                    padding-left: 15px;
                }
            }
            
            .fourpage__card-arrow {
                background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2025%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22%231264A3%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20d%3D%22M1.548%207h21.904%22%2F%3E%3Cpath%20stroke-linejoin%3D%22round%22%20d%3D%22M17%201l7%206-7%206%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
            }


            /* Aqui empieza la quinta página*/

            .fifthPage {
            background-color: $firstPageColor;
            clip-path: ellipse(90% 100% at center top);
            }

            .fifthPage__rules{
                display:flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
               /* width: 100%; */
                text-align:center;
                padding: 3rem 8vw 3rem 8vw;
                margin-bottom: 60px;
            }

            .fifthPage__title h1{

                color:white;
                font-size: 30px;
                padding-bottom: 30px;
            }

            .fifthPage__button--talk {
                border-color: white;
                font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
                border-radius: 4px;
                text-align: center;
                font-weight: 700;
                letter-spacing: .8px;
                font-size: .875rem;
                padding: 20px 25px 20px;
                display: block;
                width: 100%;
                background-color: $firstPageColor;
                color: white;
                margin: 7px 0 35px 0;
            }

            /* Aqui empieza la sexta pagina */

            .sixtyPage__rules{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                /* width: 100%; */
                text-align: center;
                padding: 3rem 3vw 3rem 3vw;
                margin-bottom: -30px;
                flex-direction: column;
                align-content: flex-start;
                
            }

            .sixtyPage__list{
                font-weight: bolder;
                font-size: 18px;
                align-items: flex-start;
                margin-top: 45px;
                li{
                    padding: 12px 0;
                    text-align: left;
                }
            }
